## PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).
* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).
* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school.

In [1]:
# import dependencies 
import pandas as pd

In [2]:
# load in and read files
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

school_data_df = pd.read_csv(school_data)
student_data_df = pd.read_csv(student_data)

#merge datasets
all_school_data = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

all_school_data.sample(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
37085,37085,Alexandra Jacobs,F,12th,Ford High School,78,56,13,District,2739,1763916
29804,29804,Crystal Hess,F,9th,Rodriguez High School,94,84,11,District,3999,2547363
9809,9809,Ralph Johnson,M,9th,Hernandez High School,75,66,3,District,4635,3022020
27457,27457,Michael Anderson,M,9th,Rodriguez High School,69,58,11,District,3999,2547363
7246,7246,Tracy Green,F,10th,Shelton High School,93,70,2,Charter,1761,1056600
29096,29096,Adam Tapia,M,11th,Rodriguez High School,85,85,11,District,3999,2547363
13126,13126,Aaron Gilbert,M,9th,Griffin High School,96,89,4,Charter,1468,917500
1612,1612,Carl Dillon,M,11th,Huang High School,84,92,0,District,2917,1910635
33250,33250,Paul Rodriguez,M,10th,Johnson High School,82,85,12,District,4761,3094650
627,627,Beverly Sheppard,F,11th,Huang High School,82,78,0,District,2917,1910635

## District Summary

In [3]:
# find number of unique schools
total_schools = all_school_data["school_name"].nunique()

total_schools

15

In [4]:
#find total students
total_students = all_school_data["Student ID"].nunique()

total_students

39170

In [5]:
#find total budget
total_budget = all_school_data["budget"].unique()

sum_unique_total_buddget = total_budget.sum()
sum_unique_total_buddget

24649428

In [6]:
#average math scrore
avg_math_score = all_school_data['math_score'].mean()
avg_math_score

78.98537145774827

In [7]:
#average reading scrore

avg_read_score = all_school_data['reading_score'].mean()
avg_read_score

81.87784018381414

In [8]:
#those who are passing math

passing_math = all_school_data[(all_school_data["math_score"] >= 70)].count()["student_name"]
passing_math_percent = passing_math / total_students * 100
passing_math_percent

74.9808526933878

In [9]:
#those who are passing reading
passing_reading = all_school_data[(all_school_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percent = passing_reading / total_students * 100
passing_reading_percent

85.80546336482001

In [10]:
#those who are passing math and reading
passing_everything = all_school_data[(all_school_data['math_score'] >= 70) & (all_school_data['reading_score'] >= 70)]['student_name'].count()/total_students
passing_everything_percent = passing_everything * 100
passing_everything_percent

65.17232575950983

In [11]:
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "$ Total Budget": [sum_unique_total_buddget],
    "Average Reading Score": [avg_read_score],
    "Average Math Score": [avg_math_score],
    "% Passing Reading":[passing_reading_percent],
    "% Passing Math": [passing_math_percent],
    "% Overall Passing Rate": [passing_everything_percent]
})
district_summary.round(2)

,Total Schools,Total Students,$ Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Overall Passing Rate
0,15,39170,24649428,81.88,78.99,85.81,74.98,65.17

## School Summary

In [12]:
#groups by school
by_school = all_school_data.set_index('school_name').groupby(['school_name'])

#school types
school_types = school_data_df.set_index('school_name')['type']

In [13]:
# total students by school
students_per_sch = by_school['Student ID'].count()

# school budget
school_budget = school_data_df.set_index('school_name')['budget']

In [14]:
#per student budget
student_budget = school_data_df.set_index('school_name')['budget']/school_data_df.set_index('school_name')['size']

#avg scores by school
avg_math = by_school['math_score'].mean()
avg_read = by_school['reading_score'].mean()

In [15]:
# % passing scores
pass_math = all_school_data[all_school_data['math_score'] >= 70].groupby('school_name')['Student ID'].count()/students_per_sch * 100
pass_read = all_school_data[all_school_data['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/students_per_sch * 100
overall = all_school_data[(all_school_data['reading_score'] >= 70) & (all_school_data['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/students_per_sch * 100 

per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": students_per_sch,
    "Per Student Budget": student_budget,
    "Total School Budget": school_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
})




#munging
per_school_summary = per_school_summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          'Overall Passing Rate']]

#formatting
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [24]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_5_schools = per_school_summary.sort_values("Overall Passing Rate", ascending = False)
top_5_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247

In [25]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
top_5_schools = per_school_summary.sort_values("Overall Passing Rate", ascending = True)
top_5_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769

## Math Scores

In [18]:
# Use the code provided to separate the data by grade
ninth_graders = all_school_data[(all_school_data["grade"] == "9th")]
tenth_graders = all_school_data[(all_school_data["grade"] == "10th")]
eleventh_graders = all_school_data[(all_school_data["grade"] == "11th")]
twelfth_graders = all_school_data[(all_school_data["grade"] == "12th")]

In [19]:
# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby("school_name").mean()
tenth_graders_scores = tenth_graders.groupby("school_name").mean()
eleventh_graders_scores = eleventh_graders.groupby("school_name").mean()
twelfth_graders_scores = twelfth_graders.groupby("school_name").mean()

ninth_graders_scores.head()

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20344.481481,81.303155,77.083676,7.0,4976.0,3124928.0
Cabrera High School,16969.634470,83.676136,83.094697,6.0,1858.0,1081356.0
Figueroa High School,4397.878505,81.198598,76.403037,1.0,2949.0,1884411.0
Ford High School,36170.595438,80.632653,77.361345,13.0,2739.0,1763916.0
Griffin High School,13031.305623,83.369193,82.044010,4.0,1468.0,917500.0

In [20]:
# Use the code to select only the `math_score`
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores.mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

ninth_grade_math_scores.head()

school_name
Bailey High School      77.083676
Cabrera High School     83.094697
Figueroa High School    76.403037
Ford High School        77.361345
Griffin High School     82.044010
Name: math_score, dtype: float64

In [21]:
#create a new dataframe with all scores
math_scores_by_grade = pd.DataFrame({
        "9th": ninth_grade_math_scores,
        "10th": tenth_grader_math_scores,
        "11th": eleventh_grader_math_scores,
        "12th": twelfth_grader_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

#format to clean up averages
math_scores_by_grade.style.format({'9th': '{:.2f}', 
                          "10th": '{:.2f}', 
                          "11th": "{:.2f}", 
                          "12th": "{:.2f}"})

## Reading Scores

In [28]:
# Use the code provided to separate the data by grade
ninth_graders = all_school_data[(all_school_data["grade"] == "9th")]
tenth_graders = all_school_data[(all_school_data["grade"] == "10th")]
eleventh_graders = all_school_data[(all_school_data["grade"] == "11th")]
twelfth_graders = all_school_data[(all_school_data["grade"] == "12th")]

In [29]:
# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby("school_name").mean()
tenth_graders_scores = tenth_graders.groupby("school_name").mean()
eleventh_graders_scores = eleventh_graders.groupby("school_name").mean()
twelfth_graders_scores = twelfth_graders.groupby("school_name").mean()

In [30]:
# Use the code to select only the `math_score`
ninth_grade_read_scores = ninth_graders_scores["reading_score"]
tenth_grader_read_scores = tenth_graders_scores["reading_score"]
eleventh_grader_read_scores = eleventh_graders_scores["reading_score"]
twelfth_grader_read_scores = twelfth_graders_scores["reading_score"]

ninth_grade_read_scores.head()

school_name
Bailey High School      81.303155
Cabrera High School     83.676136
Figueroa High School    81.198598
Ford High School        80.632653
Griffin High School     83.369193
Name: reading_score, dtype: float64

In [31]:
#create a new dataframe with all scores
reading_scores_by_grade = pd.DataFrame({
        "9th": ninth_grade_read_scores,
        "10th": tenth_grader_read_scores,
        "11th": eleventh_grader_read_scores,
        "12th": twelfth_grader_read_scores
})

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

#format to clean up averages
reading_scores_by_grade.style.format({'9th': '{:.2f}', 
                          "10th": '{:.2f}', 
                          "11th": "{:.2f}", 
                          "12th": "{:.2f}"})

## Scores by School Spending

In [32]:
#create the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [33]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [35]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df['Total School Budget']/school_spending_df['Total Students'], spending_bins, labels= labels)

school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [38]:
#calculate mean scores per spending range.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Overall Passing Rate"]

In [39]:
# create dataframe for spending summary
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "Overall Passing Rate": overall_passing_spending,
})

spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [40]:
#create the bins
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [41]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary['Total Students'], size_bins, labels = labels)

In [42]:
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [43]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["Overall Passing Rate"]

In [44]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`

size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    '% Passing Math': size_passing_math,
    '% Passing Reading': size_passing_reading,
    "Overall Passing Rate": size_overall_passing})
# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [45]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary.groupby(["School Type"]).mean()["Overall Passing Rate"]

In [46]:
type_summary = pd.DataFrame({ 
    "Average Math Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    '% Passing Math': type_passing_math,
    '% Passing Reading': type_passing_reading,
    "Overall Passing Rate": type_overall_passing})

type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208